:root {
    --textbox-color : #4e342e;
    --textbox-border : #a1887f;
    --text-color : #FFF8E1;
    --font-main : "Press Start 2P", system-ui;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--font-main);
    user-select: none;
}

.bg {
    width: 100%;
    height: 100vh;
    background-color: black;
    background-image: url(/img/map.png);
    background-size: cover;
    overflow: hidden;
}

@keyframes slideIn {
  from {
    transform: translateY(-20%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.gameover {
    width: 100%;
    height: 100%;
    z-index: 50;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);;
}

.gameover-container {
    width: 30%;
    height: 60%;
    padding: 30px;
    background-color: var(--textbox-color);
    color: var(--text-color);
    border: 10px solid var(--textbox-border);
    border-radius: 15px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 15% 35% 50%;
    text-align: center;
    animation: slideIn 1s ease forwards;
}


.gameover-container p{
    font-size: 12px;
}

.gameover-container a {
    background-color: var(--textbox-border);
    padding: 30px;
    border-radius: 15px;
    cursor: pointer;
}

.textbox {
    background-color: var(--textbox-color);
    width: 70%;
    height: 25%;
    border: 10px solid var(--textbox-border);
    border-radius: 15px;
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

.textbox-name {
    width: 170px;
    height: 30px;
    background-color: var(--textbox-border);
    border-radius: 6px;
    position: absolute;
    left: 40px;
    top: -15px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.textbox p {
    color: var(--text-color);
    font-size: 17px;
    position: absolute;
    top: 30px;
    left: 40px;
    line-height: 2;
    user-select: none;  
}

.textbox-name p {
    position: static;
    font-size: 15px;
}

.textbox img {
    position: absolute;
    height: 150px;
    top: -140px;
    left: 40px;
    z-index: -1; /* puts it behind the textbox */
}

.question {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    color: var(--text-color);
    line-height: 1.5;
    position: fixed;
}

.question-container {
    height: fit-content;
    width: 400px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--textbox-color);
    border: 14px solid var(--textbox-border);
    border-radius: 15px;
    gap: 30px;
}

.question-container form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.question-container label {
    padding: 15px 25px;
    border-radius: 10px;
    background-color: var(--textbox-border);
    cursor: pointer;
    text-align: left;
    color: var(--text-color);
}

.question-container button {
    background-color: transparent;
    color: var(--text-color);
    border: none;
}

.question-container form input {
    display: none;
}

.clock-icon {
    position: relative;
    z-index: 0;
}

.clock-icon img {
    height: 100px;
}

.clock-icon {
    position: relative; /* penting supaya absolute anaknya ngikut ke sini */
}

.clock-icon p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}

.battleStart {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 20;
}

.battleTransition {
    opacity: 0;
    animation: fadeInOut 1.5s forwards;
}

@keyframes fadeInOut {
    0%   { opacity: 0; }
    20%  { opacity: 1; }   /* cepat fade in */
    80%  { opacity: 1; }   /* stay kelihatan */
    100% { opacity: 0; }   /* fade out */
}


.hidden {
    display: none;
}